@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
*{
    margin: auto;
}
body{
    background-color: #54c3ef;
    font-family: 'Source Sans Pro', sans-serif;
}
form{
    display: block;
    font-family: Source, Sans, Pro;
    width: 50%;
    border-radius: 5px;
    margin:auto;
    padding: 20px;
    background-color: #2b3252 !important;
    color: #fad744;
    line-height: 15px;
}
p{
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
}
.qClass{
    padding: 10px;
    line-height: 25px;
}
.labelClass, .choiceClass{
    padding-left: 15px;
}
.choiceClass{
    margin-left: 10px;
}
#qHead{
    color: #fad744;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    font-weight: 600;
    font-family: 'Caveat Brush', 'cursive';
}
.hrClass{
    /* height: 1px; */
    color:#fad744;
    background-color: #fad744;
    margin:5px ;
}
.scoreClass{
    position:fixed;
    height: 200px;
    width:150px;
    background-color: #ffffff;
    top: 15vh;
    right: 15vh;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;

}
.scoreClass h2{
    padding: 20px;
    font-size: 2em;
}
.scoreClass div{
    font-size: 30px;
}
.submitClass{
    margin-left:35%;
    margin-top: 20px;
    padding: 15px;
    width: 150px;
    font-size: larger;
    border-radius: 5px;
    background-color: #fad744;
}
